@font-face {
	font-family: 'Metric-Light';
	src: url('fonts/Metric-Light.woff2');
	font-weight: normal;
	font-style:normal;
}
@font-face {
	font-family: 'Metric-Medium';
	src: url('fonts/Metric-Medium.woff2');
	font-weight: normal;
	font-style:normal;
}
@font-face {
	font-family: 'Metric-Regular';
	src: url('fonts/Metric-Regular.woff2');
	font-weight: normal;
	font-style:normal;
}
@font-face {
	font-family: 'Metric-Semibold';
	src: url('fonts/Metric-Semibold.woff2');
	font-weight: normal;
	font-style:normal;
}
